html {
    height: 100%;
  }
  body {
     width: 90%;
     height: 100%;
     background-color: #CAFDF2;
     background-image: url("gray-haze-background.jpg");
  }
 
  header {
      background-image: url("blue_background.jpg");
      padding: 5px;
      border: 10px solid #000000;
      font-size: 40px;
      display: block;
      margin: 25px;
      text-align: center;
      text-shadow: 3px 1px 1px #FFFDF2;
      width: 90%;
      font-family: fantasy;
  }
  h2{
      font-size: 30px;
  }
  nav {
    float: left;
    width: 100%;
    
    padding: 0px;
    margin-left:10px;
}

nav ul {
    margin: 0px;
    width:100%;
    list-style-type: none;
}

  nav li {
  float: left;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  }

nav li a {
    display: block;
    height: 25px;
    padding: 12px 18px 8px 18px;
    /* vertical-align: middle; */
}

/* Create style for menu buttons */
.menuButton {
  background-color:rgb(251, 255, 9);
  border: 5px solid #000000;
  float:left;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-right: 25px;
}

/* Create stylke for BUY NOW button */
.buyNow {
    background-color:rgb(9, 255, 9);
    border: 5px solid #000000;
    float:right;
    margin-right:100px;
    border-radius: 8px;
}
  a {
      color: ;
  }
  section {
      width: 73%;
      display: inline-block;
      float: left;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }